@charset "UTF-8";
.bg{
	background: url('../images/pizza2.jpg') no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 200%;
	background-attachment: fixed;
}

.bg-profile{
	background: url('../images/profile2.jpg') no-repeat;
	width: 100%;
	height: 100vh;
	background-size: 100%;
	background-attachment: fixed;
}

.profile-form {
	position: relative;
	top: 10vh;
	background: rgba(0, 0, 0, 0.2);
	padding: 30px;
}

.form-container{
	position: relative;
	top: 15vh;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.search-area{
	position: relative;
	z-index: 1;
	margin: 20px;
	background: rgba(215, 255, 156, 0.4);
	padding: 30px;
	border-radius: 10px;
}

.dropdown-list{
	position: relative;
	z-index: 1000;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.card-colored {
	background: rgba(215, 255, 156, 0.9);
	padding: 10px;
}

.input-style {
	border-width: 0;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1)
}

input{
	border-width: 0;
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	background: rgba(255, 255, 255, 1)
}

.select-nice {
	border-width: 0;
	border-radius: 10px;
	padding: 5px;
	background: rgba(255, 255, 255, 1)
}

.hidden {
	display:none
}

.li-container {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px 0px #000;
}

.circular {
  position: relative;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img {
  width: auto;
  height: 100%;
}

.circular--small {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--small img {
  width: auto;
  height: 100%;
}

table{
  width:100%;
  table-layout: fixed;
  background: rgba(255, 255, 255);
  border-radius: 10px;
}

th, td {
	padding: 20px;
	text-align:center;
}


.row-nice {
	padding: 10px;
}


.fifteen {
	width: 15%;
}
.ten {
	width: 10%;
}

.five {
	width: 5%;	
}

.container-neutral {
	background: #fff;
	position: relative;
	top: 5vh;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

@media only screen and (max-width: 678px) {
		.bg{
			background-size:300%;
		}
}
